.page_navi
  - if @page > 1
    %a{:href=>"/page/#{@page - 1}"} &lt;Prev
  - if @page < @page_count
    %a{:href=>"/page/#{@page + 1}"} Next&gt;

-entries.each do |entry|
  = partial 'entry/body', :locals => {:entry => entry}

.page_navi
  - if @page > 1
    %a{:href=>"/page/#{@page - 1}"} &lt;Prev
  - if @page < @page_count
    %a{:href=>"/page/#{@page + 1}"} Next&gt;
