.page_navi
  - if @page > 1
    %a{:href=>"/search?q=#{@q}&page=#{@page - 1}"} &lt;Prev
  - if @page < @page_count
    %a{:href=>"/search?q=#{@q}&page=#{@page + 1}"} Next&gt;

-entries.each do |entry|
  = partial 'entry/entry', :locals => {:entry => entry}

.page_navi
  - if @page > 1
    %a{:href=>"/search?q=#{@q}&page=#{@page - 1}"} &lt;Prev
  - if @page < @page_count
    %a{:href=>"/search?q=#{@q}&page=#{@page + 1}"} Next&gt;
